<div class="jumbotron">
  <h1 class='text-center'>Projects</h1>
</div>
<div class="row">
  <div class="col-xs-6 col-lg-4">
    <h2>Music Player/Visualizer</h2>
    <p>app pic here</p>
    <p><a class="btn btn-default" href="https://spotifize.herokuapp.com/" target="_blank" role="button">Live Site &raquo;</a></p>
  </div><!--/.col-xs-6.col-lg-4-->
  <div class="col-xs-6 col-lg-4">
    <h2>Tube-Clone</h2>
    <p>app pic here</p>
    <p><a class="btn btn-default" href="https://tube-clone.herokuapp.com/" target="_blank" role="button">Live Site &raquo;</a></p>
  </div><!--/.col-xs-6.col-lg-4-->
  <div class="col-xs-6 col-lg-4">
    <h2>Personality Analysis</h2>
    <p>app pic here</p>
    <p><a class="btn btn-default" href="http://andrew-cer-watson-demo.mybluemix.net/" target="_blank" role="button">Live Site &raquo;</a></p>
  </div><!--/.col-xs-6.col-lg-4-->
  <div class="col-xs-6 col-lg-4">
    <h2>Hearth Stone Deck Builder</h2>
    <p>app pic here</p>
    <p><a class="btn btn-default" href="https://hearth-node.herokuapp.com/" target="_blank" role="button">Live Site &raquo;</a></p>
  </div><!--/.col-xs-6.col-lg-4-->
  <div class="col-xs-6 col-lg-4">
    <h2>Canvas OOP Shapes Playground</h2>
    <p>app pic here</p>
    <p><a class="btn btn-default" href="https://vast-fortress-6191.herokuapp.com/" target="_blank" role="button">Live Site &raquo;</a></p>
  </div><!--/.col-xs-6.col-lg-4-->
</div><!--/row-->
</div><!--/.col-xs-12.col-sm-9-->
</div><!--/row-->
